*.ogv filter=lfs diff=lfs merge=lfs -text
packs_voice/Big[[:space:]]Smiling[[:space:]]Friends[[:space:]]pack/Charlie[[:space:]]doesn't[[:space:]]wanna[[:space:]]do[[:space:]]anything/dub_video.ogv filter=lfs diff=lfs merge=lfs -text
packs_voice/ENA[[:space:]]Video[[:space:]]Dubs/ENA[[:space:]]Dream[[:space:]]BBQ[[:space:]]-[[:space:]]First[[:space:]]Cutscene/dub_video.ogv filter=lfs diff=lfs merge=lfs -text
